@page "/defaultcenteredroom"

<head>
    <style>
        div.seat-row{
            display:block;
            margin-bottom:35px
        }
    </style>
</head>

<h3>DefaultCentered</h3>

<h3>Sæde vælger</h3>
<h4>Antal sæder valgt: @NumberOfSeatsPicked</h4>
<div style="padding:20px; overflow:auto; white-space: nowrap">

    @foreach (var rowNumber in Seats.Select(s => s.RowName).Distinct())
    {
        <div class="seat-row">
            @foreach (var seat in Seats.Where(s => s.RowName == rowNumber))
            {
                <Seat Model=seat OnSeatStatusChanged=UpdateNumberOfSeatsPicked />
            }
        </div>
    }
</div>

